# prerequisites
*.d

# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib
*.dll

# fortran module files
*.mod
*.smod

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app
.aider*

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt

# Makefiles & generators
Makefile
*.make

# out‑of‑source build directory
build/*

# macOS Finder
.DS_Store

# IDE settings
.vscode/


#holy shit shut the fuck up
.idea/
